$solidPurple: #8338EC;
$lightPurple: #B588F4;

$whiteTextColor: #FFFFFF;

$mainTextColor: #212529;
$secondaryTextColor: #0D0F10;

$solidOrange: #FD9A6A;
$darkOrange: #FB5607;

$solidYellow: #F7BC30;
$lightYellow: #FFD86D;

$solidPink: #FF006E;
$lightPink: #FF66A8;

$solidBlue: #3A86FF;
$lightBlue: #3A86FF;

$solidGreen: #08A508;

$normTransition: .3s ease;